
  h1{
     color: orange;
     background-color: slategray;
     font-size: 20px;
     text-decoration: line-through; 
     text-decoration-line: underline;
     font-family: Arial, Helvetica, sans-serif;
    }
  p{
    color: slategray;
    letter-spacing: 3px;
    line-height: 20px;
    text-align: left;
    column-count: 3;
    column-gap: 70px;
    
     }
     h2{
         color: lightsalmon;
     } 
ul{
   /* border-color: brown; */
  /* border-bottom: 90px; */
    /* border-style: solid; */
    /* border-left: 20; */
     /* border-bottom: 4px dotted crimson;  */
    border-bottom: 4px;
    border-color: crimson;
    border-bottom: solid;
}

li{
    list-style-type: square;
    text-shadow: 1px 0px; color: rgb(19, 126, 233);
}